#height-5vh {
  height: 7vh;
}

#height-86vh {
  height: 81vh;
}

#marginR-10px {
  margin-right: 10px
}

#mainContainer {
  display: flex;
}

#map {
  width: 80%;
}

#barList {
  border-top: 1.5px solid #eeeded;
  border-bottom: 1.5px solid #eeeded;
  overflow-y: scroll;
  height: 86vh;
  min-width: 250px;
}

#payButton {
  background-color: #4F86C6;
  color: white;
  border: none;
}

#nav {
  background-color: #1E1C21;
}